* {
border: red;
border-width: 1px;
border-style:solid;

}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
}


h1 {
    font-size: 2 rem;

}


.joke-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn-menu {
    font-size: 1 rem;
    
}

.joke-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: darkgreen;
    margin: 1rem;    
}

.joke-list div {
    margin: 0.5rem; 
    background-color: lightgreen;  
}