header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
}


h1 {
font-size: 2 rem;

}


.btn-menu {
font-size: 1 rem;
}