* {
border: red;
border-width: 1px;
border-style:solid;

}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
}


h1 {
    font-size: 2 rem;

}


.btn-menu {
    font-size: 1 rem;
}

.joke-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: darkkhaki;    
}